---
permalink: /resume/
layout: single
title: ""
author_profile: true
---

<style>
  .dl {
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 4px 8px !important;
    line-height: 1.2 !important;
    margin-top: 7px;
    transform-origin: left center;
  }
  .present {
    color: darken(#a3be8c, 20%);
  }

</style>

<html>
  <body>
    <head>
      <link rel="stylesheet" href="/assets/css/main.css">
    </head>
  <body>
    <!--
    <div style="margin-top: -1em; display: flex; align-items: center; gap: 10px; margin-bottom: 0.5em;">
      <h1 style="margin: 0;">Resume</h1>
      <a href="/assets/jackhosler_cv.pdf" class="btn btn--primary dl" target="_blank" >
        PDF <span class="fa-solid fa-download" style="font-size: 10px;"></span>
      </a>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at elementum nisi. Suspendisse ex massa, 
      gravida sit amet gravida quis, blandit a diam. Curabitur ut suscipit mi. Pellentesque dictum, augue ultricies 
      tincidunt dictum, nunc felis iaculis augue, a finibus magna libero et mi. </p>
    !-->
    <div style="display: flex; gap: 10px; margin-bottom: 1em; flex-wrap: wrap;">
      <a href="https://www.linkedin.com/in/jackhosler/" target="_blank" class="btn btn--primary"><i class="fab fa-linkedin"></i> LinkedIn</a>
      <a href="https://github.com/jdy4k" target="_blank" class="btn btn--primary"><i class="fab fa-github"></i> GitHub</a>
      <a href="mailto:contact@jackhosler.com" class="btn btn--primary"><i class="fas fa-envelope-square"></i> Email</a>
    </div>

    <h2 style="margin-top: 0.5em;">Work Experience</h2>

    {% include resume_entry.html 
       title="Bioinformatisist"
       subtitle="Wright Labs"
       subtitle_url="https://www.wrightlabs.org/"
       extra1="Part-time - Hybrid"
       extra2='Aug 2025 - <span class="present">present</span>'
       brief="Analysis of data in R and development of tools for data processing/analysis"
       skills="R • Nextflow • Bioinformatics • Statistics"
       summary_content=" Works focuses primarily on developing tools for researchers (nextflow pipelines, 
       excel functions) and performing statistical analysis."
    %}

    {% include resume_entry.html 
       title="Language Instructor"
       subtitle="Appalachia Intermediate Unit 8"
       subtitle_url="https://www.iu08.org/"
       extra1="Part-time - Remote"
       extra2='Oct 2025 - <span class="present">present</span>'
       brief="Preparing classes and grading coursework for highschool Japanese I"
       skills="Teaching • Japanese"
       summary_content="Part-time work giving introductory Japanese lessons 
       to schools with limited foreign language programs in Pennsylvania. 
       I prepare lectures to complement the Japanese language curriculum provided by AIU8, 
       as well as providing assistance to students and grading coursework."
    %}

    {% include resume_entry.html 
       title="Anthropology Reserarch Assistant"
       subtitle="Juniata College"
       subtitle_url="https://www.juniata.edu/"
       extra1="Intership - On-Site"
       extra2="May 2022 - Jul 2022"
       brief="Cataloged finds from the Fort Ligonier site"
       skills="Anthropology • Excel • Archival"
       summary_content="Assisted lab in cataloging finds from the Fort Ligonier 
       site. Work involved identifying items, bagging those items 
       alongside a card containing relevant information and an identifying number, 
       as well as adding this information to an excel database."
       is_complete=true
    %}

    <h2>Projects</h2>

    {% include resume_entry.html 
      title="Shotgun MT/MG Pipeline"
      subtitle="jdy4k/shotgun-mtmg-pipeline"
      subtitle_url="https://github.com/jdy4k/shotgun-mtmg-pipeline"
      extra1="Wright Labs"
      extra2="Nextflow Pipeline"
      brief="A nextflow pipeline for shotgun metagenomic and metatranscriptomic data analysis"
      skills="Nextflow • Bioinformatics • nf-core"
      is_complete=true
   %}

    <h2>Education</h2>

    {% include resume_entry.html 
       title="College of Wooster"
       subtitle="Mathematics, Anthropology (honors)"
       extra1="Bachelors Degree"
       extra2="Aug 2020 - May 2025"
       summary_title="Completed Courses"
       summary_content=""
       is_complete=true
    %}

    {% include resume_entry.html 
       title="Waseda Univeristy"
       subtitle="Study Abroad"
       extra1="Non-Degree Student"
       extra2="Sep 2022 - Jul 2023"
       summary_title="SILS/CJL Courses"
       summary_content="
- (SOCI) Politics of Translation
- (ART) Select Topics in Japanese Art History
- (CSCI) Introduction to Machine Learning
- (JPN) Intensive Japanese 4
- (JPN) Intensive Japanese 5
- (JPN) Immersive Reading
- (JPN) Public Speaking
        "
       is_complete=true
    %}

    {% include resume_entry.html 
       title="Juniata College"
       subtitle="Highschool Dual Enrollment"
       extra1="Non-Degree Student"
       extra2="Feb 2018 - May 2020"
       summary_title="Dual Enrollment Classes"
       summary_content="
- CN110 Chinese I
- CN120 Chinese II
- CN210 Chinese III
- CN220 Chinese IV
- CN330 Advanced Chinese
- MA130 Calculus I
- MA160 Linear Algebra
- MA230 Calculus II
- PC202 Intro to Physics I (Calculus based)
- PC202L Intro to Physics Lab I
- PC203 Intro to Physics II (Calculus based)
- PC203L Intro to Physics Lab II
- CS101 Introduction to Computer Science
        "
       is_complete=true
    %}

    <h2>Service</h2>

    {% include resume_entry.html 
       title="Guatemala Education Delegation"
       subtitle="Juniata College"
       subtitle_url="https://www.juniata.edu/"
       extra1="Volunteer"
       extra2="June 2023 - July 2023"
       brief="Educational delegation trip to Quetzaltenango, Guatemala, 
       where I participated in cultural exchange with/English 
       education for local students (kindergarten through sixth grade)"
       is_complete=true
    %}

  </body>
</html>