/* Resume entry styles - imports Nord skin variables */
@import "minimal-mistakes/skins/nord";

.container-v {
  display: flex;
  flex-direction: column;
  gap: 0px;
  flex-shrink: 0;
  flex-grow: 0;
}

.left {
  order: 2;
  flex: 1 1 auto;
  min-width: 0; // Prevents flex items from overflowing
}

.right {
  order: 1;
  flex: 0 0 auto;
  text-align: left;
  white-space: nowrap;
  max-width: calc(50% - 8px); // Prevent it from taking too much space and pushing content offscreen
  
  @media (max-width: 600px) {
    order: 1;
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin-bottom: 5px;
    white-space: normal; // Allow wrapping on mobile
  }
}

.main {
  border-left: 3px solid $base0b; // Nord green
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.complete {
  border-left: 3px solid $border-color; // Nord border color
}

.container-h {
  display: flex;
  gap: 15px;
  align-items: center;
  line-height: 1.15em;
  flex-wrap: wrap;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-size: 15px;
  color: darken($text-color, 10%);
}

.subtitle a {
  color: $primary-color; // Nord blue
  text-decoration: none;
}

.subtitle a:visited {
  color: $primary-color;
  text-decoration: none;
}

.subtitle a:hover {
  color: $link-color-visited; // Nord darker blue
  opacity: 0.7;
}


.extra {
  font-size: 12px;
  color: darken($text-color, 10%);
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
}

.brief {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  color: darken($text-color, 25%);
}

.skills {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5px;
  color: darken($text-color, 25%);
  font-weight: 500;
  font-style: italic;
}

.sum {
  font-size: 12px;
  line-height: 1.5em;
  margin-top: 7.5px;
  margin-bottom: 0;
  color: darken($text-color, 10%);
  
  // Ensure all markdown-generated content uses consistent styling
  * {
    font-size: 12px;
    line-height: 1.5em;
  }
  
  ul, ol {
    margin-left: 0.5em;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  p {
    margin-bottom: 0.5em;
    margin-top: 0;
  }
}

details {
  padding: 0 0 0;
  margin-bottom: 0;
  
  > *:last-child {
    margin-bottom: 0 !important;
  }
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.fa-arrow-up-right-from-square {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.subtitle .fa-github {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
