// Disable opacity change on hover for author profile avatar (desktop only)
@media screen and (min-width: 1025px) {
  .sidebar {
    opacity: 1 !important;
    transition: none !important;
  }
}

// Hide author profile sidebar on mobile - comprehensive approach
@media screen and (max-width: 1024px) {
  body .sidebar,
  body #main .sidebar,
  body #main > .sidebar,
  body .initial-content #main .sidebar,
  body .initial-content #main > .sidebar,
  body .page__inner-wrap .sidebar,
  body .layout--home #main .sidebar,
  body .layout--single #main .sidebar,
  body .layout--home .sidebar,
  body .layout--single .sidebar {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    min-height: 0 !important;
    min-width: 0 !important;
    max-height: 0 !important;
    max-width: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    position: absolute !important;
    left: -9999px !important;
    clip: rect(0, 0, 0, 0) !important;
  }
  
  // Hide all sidebar children
  body .sidebar *,
  body #main .sidebar * {
    display: none !important;
    visibility: hidden !important;
  }
}

// Show resume mobile buttons only on mobile
.resume-mobile-buttons {
  display: none !important;
  margin-bottom: 1em;
  flex-wrap: wrap;
  
  @media screen and (max-width: 1023px) {
    display: flex !important;
    
    a {
      margin-right: 10px;
      margin-bottom: 10px;
      
      i {
        margin-right: 5px;
      }
    }
  }
}

// Disable links on sidebar profile photo and name
.author__avatar a,
.author__name a {
  pointer-events: none;
  cursor: default;
}

// Style primary buttons with dark blue from Nord theme
a.btn.btn--primary,
.btn.btn--primary {
  background-color: $link-color-visited !important; // Nord darker blue (#5e81ac)
  border-color: $link-color-visited !important;
  color: $text-color !important;
  
  &:hover,
  &:focus {
    background-color: darken($link-color-visited, 10%) !important;
    border-color: darken($link-color-visited, 10%) !important;
    color: $text-color !important;
  }
}

// Reduce top and bottom margin for masthead
.masthead {
  margin-top: 0.25em !important;
  margin-bottom: 0.5em !important;
  
  &__inner-wrap {
    padding-top: 0.25em !important;
    padding-bottom: 0.5em !important;
  }
}

// Replace site title text with "home"
.site-title {
  font-size: 0 !important;
  
  &::before {
    content: "Home";
    font-size: 1rem;
    display: inline-block;
  }
}

// Increase font size of git-alt icon in top bar and offset down
.masthead .fa-git-alt {
  font-size: calc(1em + 3px) !important;
  position: relative;
  top: 2px;
}

// Change code block colors
pre,
code {
  background-color: $lighter-background-color !important;
  color: $text-color !important;
  border-color: $border-color !important;
}

// Syntax highlighting colors
.highlight {
  background-color: $lighter-background-color !important;
  
  pre {
    background-color: $lighter-background-color !important;
    color: $text-color !important;
  }
  
  // Override syntax highlighting token colors if needed
  .c, .cm, .cp, .c1, .cs { color: $base04 !important; } // Comments
  .k, .kc, .kd, .kn, .kp, .kr, .kt { color: $base0e !important; } // Keywords
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx { color: $base0b !important; } // Strings
  .n, .na, .nb, .nc, .nd, .ne, .nf, .ni, .nn, .no, .nv { color: $text-color !important; } // Names
  .o { color: $base0d !important; } // Operators
  .p { color: $text-color !important; } // Punctuation
  .m, .mf, .mh, .mi, .il, .mo { color: $base09 !important; } // Numbers
}
