// Disable opacity change on hover for author profile avatar
.sidebar {
  opacity: 1 !important;
  transition: none !important;
}

// Hide author profile sidebar on mobile
@media screen and (max-width: 1023px) {
  .sidebar {
    display: none !important;
  }
}

// Show resume mobile buttons only on mobile
.resume-mobile-buttons {
  display: none !important;
  margin-bottom: 1em;
  flex-wrap: wrap;
  
  @media screen and (max-width: 1023px) {
    display: flex !important;
    
    a {
      margin-right: 10px;
      margin-bottom: 10px;
      
      i {
        margin-right: 5px;
      }
    }
  }
}

// Home intro with avatar on mobile
.home-intro-mobile {
  @media screen and (max-width: 1023px) {
    display: flex !important;
    align-items: flex-start !important;
    margin-bottom: 1em !important;
    
    span {
      flex: 1 !important;
      margin-bottom: 0 !important;
      margin-right: 15px !important;
    }
  }
}

.home-avatar-mobile {
  display: none !important;
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  flex-shrink: 0 !important;
  border: 2px solid $border-color !important;
  
  @media screen and (max-width: 1023px) {
    display: block !important;
    margin-top: -10px !important;
  }
}

// Disable links on sidebar profile photo and name
.author__avatar a,
.author__name a {
  pointer-events: none;
  cursor: default;
}

// Style primary buttons with dark blue from Nord theme
a.btn.btn--primary,
.btn.btn--primary {
  background-color: $link-color-visited !important; // Nord darker blue (#5e81ac)
  border-color: $link-color-visited !important;
  color: $text-color !important;
  
  &:hover,
  &:focus {
    background-color: darken($link-color-visited, 10%) !important;
    border-color: darken($link-color-visited, 10%) !important;
    color: $text-color !important;
  }
}

// Reduce top and bottom margin for masthead
.masthead {
  margin-top: 0.25em !important;
  margin-bottom: 0.5em !important;
  
  &__inner-wrap {
    padding-top: 0.25em !important;
    padding-bottom: 0.5em !important;
  }
}

// Replace site title text with "home"
.site-title {
  font-size: 0 !important;
  
  &::before {
    content: "Home";
    font-size: 1rem;
    display: inline-block;
  }
}

// Increase font size of git-alt icon in top bar and offset down
.masthead .fa-git-alt {
  font-size: calc(1em + 3px) !important;
  position: relative;
  top: 2px;
}

// Change code block colors
pre,
code {
  background-color: $lighter-background-color !important;
  color: $text-color !important;
  border-color: $border-color !important;
}

// Syntax highlighting colors
.highlight {
  background-color: $lighter-background-color !important;
  
  pre {
    background-color: $lighter-background-color !important;
    color: $text-color !important;
  }
  
  // Override syntax highlighting token colors if needed
  .c, .cm, .cp, .c1, .cs { color: $base04 !important; } // Comments
  .k, .kc, .kd, .kn, .kp, .kr, .kt { color: $base0e !important; } // Keywords
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx { color: $base0b !important; } // Strings
  .n, .na, .nb, .nc, .nd, .ne, .nf, .ni, .nn, .no, .nv { color: $text-color !important; } // Names
  .o { color: $base0d !important; } // Operators
  .p { color: $text-color !important; } // Punctuation
  .m, .mf, .mh, .mi, .il, .mo { color: $base09 !important; } // Numbers
}
